[submodule "src/tools/repl"]
	path = src/tools/repl
	url = https://github.com/leanprover-community/repl
[submodule "data/miniF2F-lean4"]
	path = data/miniF2F-lean4
	url = https://github.com/yangky11/miniF2F-lean4/
